MarriageLicence/Connected Services/LicenseService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LicensingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ILicensingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Whitby.Framework.Data.adm.clr" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Whitby.Framework.Data" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Whitby.Framework.Data.core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILicensingService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AddMarriageLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMarriageLicense" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AddMarriageLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMarriageLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_UpdateMarriageLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarriageLicense" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_UpdateMarriageLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMarriageLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AllLicenseIssuers_InputMessage">
    <wsdl:part name="parameters" element="tns:AllLicenseIssuers" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AllLicenseIssuers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllLicenseIssuersResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AllPrinters_InputMessage">
    <wsdl:part name="parameters" element="tns:AllPrinters" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AllPrinters_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllPrintersResponse" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AllPrintOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:AllPrintOptions" />
  </wsdl:message>
  <wsdl:message name="ILicensingService_AllPrintOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllPrintOptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILicensingService">
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/Find" message="tns:ILicensingService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/FindResponse" message="tns:ILicensingService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMarriageLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AddMarriageLicense" message="tns:ILicensingService_AddMarriageLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AddMarriageLicenseResponse" message="tns:ILicensingService_AddMarriageLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMarriageLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/UpdateMarriageLicense" message="tns:ILicensingService_UpdateMarriageLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/UpdateMarriageLicenseResponse" message="tns:ILicensingService_UpdateMarriageLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllLicenseIssuers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AllLicenseIssuers" message="tns:ILicensingService_AllLicenseIssuers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AllLicenseIssuersResponse" message="tns:ILicensingService_AllLicenseIssuers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllPrinters">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AllPrinters" message="tns:ILicensingService_AllPrinters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AllPrintersResponse" message="tns:ILicensingService_AllPrinters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllPrintOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILicensingService/AllPrintOptions" message="tns:ILicensingService_AllPrintOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILicensingService/AllPrintOptionsResponse" message="tns:ILicensingService_AllPrintOptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILicensingService" type="tns:ILicensingService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ILicensingService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMarriageLicense">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AddMarriageLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMarriageLicense">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/UpdateMarriageLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllLicenseIssuers">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AllLicenseIssuers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllPrinters">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AllPrinters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllPrintOptions">
      <soap:operation soapAction="http://tempuri.org/ILicensingService/AllPrintOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LicensingService">
    <wsdl:port name="BasicHttpBinding_ILicensingService" binding="tns:BasicHttpBinding_ILicensingService">
      <soap:address location="http://th48www:100/lib/adm/LicensingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>