MarriageLicence/Connected Services/LicenseService/Whitby.Framework.Data1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Whitby.Framework.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Whitby.Framework.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="wsResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Error" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryKeyId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="wsResponse" nillable="true" type="tns:wsResponse" />
</xs:schema>